html {
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  width: 100%;
  padding: 5rem;
}

.container {
  width: 60rem;
  height: 60rem;
}
.board {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  width: 70vh;
  height: 70%;
  background-color: orangered;
}

.square {
  height: 33.3333333%;
  width: 33.33333333%;
  border: 3px solid black;
}
